# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\3313_Final\ClientOSChatApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
